{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "extensions": [".js", ".jsx", ",ts", ".tsx"]
      }
    ]
  ]
}